body{
    background-color: black;
    color: aliceblue;
}
header{
    background-color: blueviolet;
}
header > nav > ul {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}
.navListItem{
    display: inline;
    margin-right: 156px;
}
nav{
    float: right;
}
#headerH1{
    display: inline-block;
}